name: Heart Failure Training Pipeline

# Workflow jalan saat ada push ke branch main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-run-training:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12' 

    - name: Check Env
      run: |
        python --version
        pip --version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set MLflow Tracking URI
      run: echo "MLFLOW_TRACKING_URI=sqlite:///mlflow.db" >> $GITHUB_ENV
      
    - name: Run mlflow project
      run: mlflow run . --no-conda

    - name: Install Python dependencies
      run: echo "Dependencies verified."

    - name: Upload to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: model-output
        path: .
